<h1>Edit Comment</h1>
<%= form_for([@post, @comment]) do |f| %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit 'Update Comment' %>
    <%= link_to 'Delete Comment', post_comment_path(@post, @comment), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
